<script context="module">
	export function preload({ params, query }) {
		return this.fetch(`blog.json`).then(r => r.json()).then(posts => {
			return {posts};
		});
	}
</script>

<script>
export let posts;
</script>

<svelte:head>
	<title>Perdana Bailey: Blog</title>
</svelte:head>

<h1 class="has-text-grey has-text-weight-bold is-size-2">Recent posts</h1>
<!--<div class="field">
  <p class="control has-icons-right">
    <input class="input" placeholder="Search" bind:value={value}>
    <span class="icon is-small is-right">
      <i class="fas fa-search"></i>
    </span>
  </p>
</div>
<p>{value}</p>-->
{#each posts as post}
	<article class="media" data-pubdate={posts.pubdate}>
		<figure class="media-left">
			<p class="image is-64x64">
			<img src="https://bulma.io/images/placeholders/128x128.png">
			</p>
		</figure>
		<a rel='prefetch' href='blog/{post.slug}'>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>{post.title}</strong>
						<br>
						{post.description}
					</p>
				</div>
				<nav class="level is-mobile">
					<div class="level-left">
						<a class="level-item">
						<span class="icon is-small"><i class="fas fa-reply"></i></span>
						</a>
						<a class="level-item">
						<span class="icon is-small"><i class="fas fa-retweet"></i></span>
						</a>
						<a class="level-item">
						<span class="icon is-small"><i class="fas fa-heart"></i></span>
						</a>
					</div>
				</nav>
			</div>
		</a>
	</article>
{/each}

<!-- 

Blog here hidden and has Blog title then search bar to the right and infinte scroll media cards
https://www.danvega.dev/blog
https://jsreport.io 

-->