<script>
	import Nav from '../components/Nav.svelte';
	import {fade } from 'svelte/transition';
   	export let segment;
</script>

{#if segment === undefined}

<slot></slot>

{:else}

<div class="columns is-mobile is-centered" transition:fade="{{delay: 0, duration: 600}}">
	<div class="column is-half">
		<Nav {segment}/>
		<slot></slot>
	</div>
</div>
{/if}