<script>
	import Hero from '../components/Hero/Hero.svelte';
	import { fly, fade } from 'svelte/transition';
</script>

<main in:fade="{{delay: 300, duration: 300}}"
      out:fly="{{delay: 0, duration: 600, x: 0, y: -1000}}">

	<Hero 
		salutation="Welcome!" 
		title="Electrical Engineering and Computer Science Student"
		tagline="Hi, I'm Perdana Bailey. Nice to meet you."
		iconimgurl="image.png"
		iconimgtext="My Bitmoji"
	/>
</main>