<script>
	import HeroFooter from './HeroFooter.svelte';

	export let salutation;
	export let title;
	export let tagline;
	export let iconimgurl;
	export let iconimgtext;
</script>

<style>
  .has-bg-img { 
    background-image: url('../bg.png'); 
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .has-text-white-shadow {
    text-shadow: 1px 1px 1px rgba(0,0,0,.15);
    color: #eee;
  }

</style>

<div class="has-bg-img"></div>

<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="has-text-white-shadow has-text-weight-bold is-size-6">{salutation}</p>
      <h1 class="title has-text-white-shadow  has-text-weight-bold is-size-2">
          {title}
      </h1>
      <p class="has-text-white-shadow has-text-weight-bold is-size-6">{tagline}</p>
      <img src="{ iconimgurl }" alt="{iconimgtext}">
      <div class="columns is-mobile is-centered">
          <div class="column is-half">
          <p class="has-text-white-shadow has-text-weight-bold is-size-6">This is still a W.I.P</p>
            <!--<a class="button is-success" href="projects">My Projects</a>
            <a class="button is-info" href="about">About Me</a>-->
          </div>
      </div>

    </div>
  </div>
	<!--<HeroFooter buttonlocation="blog" buttontext="👇👇 My Blog 👇👇"/>-->
</section>