<script>
export let buttonlocation;
export let buttontext;
</script>

<!-- Hero footer: will stick at the bottom -->
<div class="hero-foot">
    <div class="has-text-centered">
    <a class="button is-small" href="{buttonlocation}" rel='prefetch'>{buttontext}</a>
    </div>
</div>